section {
    padding-top: 20px;
    display: flex;
}

.playlist {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 70px;
    padding-left: 30px;
    text-align: left;
    font-size: 24px;
    line-height: 50px;
}

.playlist h1 {
    display: flex;
    font-size: 3rem;
    margin-bottom: 20px;
    justify-content: flex-start;
    word-spacing: 5px;
}

.playlist button {
    margin-top: 30px;
    padding: 10px;
    width: 175px;
    font-size: 24px;
    font-weight: 100;
}

.trending {
    background-color: #676767;
    width: 30%;
}

.trending__container {
    margin: 20px 10px;
}

.trending h3 {
    font-weight: 900;
    font-size: larger;
}

.songs__buttons {
    display: flex;
    flex-direction: column;
}

.trending__container button {
    margin: 10px 0px 0px;
    padding: 10px 15px;
}

.songs__buttons button {
    background-color: white;
    padding: 5px;
    margin: 10px;
}

.songs__buttons button span {
    font-weight: 800;
    margin-left: 5px;
    font-size: larger;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    section {
        flex-direction: column;
    }

    .playlist {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .playlist h1 {
        justify-content: center;
    }

    .playlist button {
        margin: 20px auto 0px;
    }

    .trending {
        background-color: #676767;
        width: 100%;
        margin-top: 30px;
    }

    .songs__buttons button {
        margin: 10px auto;
        width: 80%;
    }
}

@media screen and (max-width: 459px) {

    .playlist {
        line-height: 30px;
    }

    .playlist h1 {
        font-size: 2rem
    }
}