.nav {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.nav button {
    margin: 9px 10px 9px 16px
}