* {
  margin: 0;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  outline: 0;
  list-style: none;
  
}

body {
  font-weight: 600;
}

button {
  font-size: 14px;

  padding: 5px 20px;
 font-weight: 600;
  background-color: #ff9900;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #706658;
  transition: 0.2s; 
}

